<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407386274364-ai0f88rt0lp64793dp2nb6clakjf5h6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407386274364-ai0f88rt0lp64793dp2nb6clakjf5h6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCmr94QlBLN35ZEUZYk8MzgzWxKzJGCIl8</string>
	<key>GCM_SENDER_ID</key>
	<string>407386274364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.neurothrone.ARGallery</string>
	<key>PROJECT_ID</key>
	<string>ar-gallery-8888b</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-gallery-8888b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407386274364:ios:e3d82b122dfeb54045a139</string>
</dict>
</plist>